<%- include('partials/header.ejs') %>

    
    <div class="resultsContainer">
        <% items.forEach(function(item, i) { 
            
            var url = item.imageURL;%>
            
            <%- (i%3==0 & i!=0)?'<br>':''; %>
            <div class="itemContainer">
                <span class='description' id='description'><%=item.description%></span>
                <div class = "imageContainer">
                    <img class="image" src='<%=url%>' width='200' height='200'>
                </div>
                <span class='itemPrice' id='itemPrice'>&dollar;<%=item.price%><br></span>
                <span class='productID' id='productID'>(<%=item.productID%>)</span>
                
            </div>
        
        <% });    %>
        
    </div>
        
<%- include('partials/footer.ejs') %>
